body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e4e4e4;
}
img {
  width: 100%;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  color: inherit !important;
  text-decoration: none !important;
}
article {
  white-space: pre-wrap;
  font-size:18px;
  line-height:22px;
}
.ea--page--wrap {
  height:100vh;
  overflow: hidden;
  width:100vw;
  position: absolute;
  top:0;
  left:0;
  background-color: #e4e4e4;
}
.ea--page--navigation {
}
.ea--page--home {
}
.ea--text--left {
  text-align: left
}
.ea--text--right {
  text-align: right
}
.ea--text--center {
  text-align: center
}
.ea--float--left{
  float: left;
}
.ea--float--right{
  float: right;
}
.ea--text--center {
  text-align: center;
}
.ea--inline {
  display: inline-block;
}
.ea--brand--name {
  text-transform: uppercase;
  position: absolute;
  top:50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform:    translate(0%, -50%);
  -ms-transform:     translate(0%, -50%);
  -o-transform:      translate(0%, -50%);
  transform:         translate(0%, -50%);
  font-weight: 100;
  font-size:30px;
  letter-spacing: 4px;
  width: 100%;
  color: #fff;
}
.ea--menu--icon {
  background-color: #fff;
  height: 2px;
  width: 50px;
  position: relative;
  margin: 14px 0;
}
.ea--menu--icon::before,
.ea--menu--icon::after {
  content:' ';
  background-color: #fff;
  height: 2px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -14px;
}
.ea--menu--icon::after {
  margin-top: 14px;
}
.ea--menu--icon--container {
  cursor: pointer;
  margin-top: 25px;
}
.ea--mobile--menu--icon--container {
  margin-top:-25px;
}
.ea--mobile--menu--container {
  display: none;
  background-color: #000;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  z-index: 999;
}
.ea--mobile--menu {
  padding: 25px;
}
.ea--menu--container {
  width:100px;
  color: #fff;
  background-color: #000;
  height: 100vh;
  text-align: center;
  position: relative;
}
.ea--brand--name--mobile {
  margin-left:-50px;
  display: inline-block;
  width: auto;
  right: 25px;
}
.ea--absolute {
  position: absolute;
  top: 0;
  height: 100%;
}
.ea-rotate-90-deg-neg {
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}
.ea--menu--social--icons {
  position: absolute;
  bottom:0;
  width: 100%;
  margin-bottom: 12.5px;
}
.ea--social--icon--container {
  margin: 12.5px auto;
}
.ea--slide--out--menu--spoof--page {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  background-color: #000;
  display: none;
  z-index: 999;
  opacity: 0.5;
}
.ea--slide--out--menu--spoof--page.active {
  display: block;
}
.ea--direction--rtl {
  direction: rtl;
}
.ea--direction--ltr {
  direction: ltr;
}
.ea--slide--out--menu--container {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: 450px;
  max-width: 100vw;
  background-color:#000;
  color:#fff;
  height: 100vh;
  left:0;
  top:0;
  z-index: 99999;
  -webkit-transform: translate(-100%, 0%);
  -moz-transform:    translate(-100%, 0%);
  -ms-transform:     translate(-100%, 0%);
  -o-transform:      translate(-100%, 0%);
  transform:         translate(-100%, 0%);
  transition-duration: 200ms;
}
.ea--slide--out--menu--container.active {
  -webkit-transform: translate(0%, 0%);
  -moz-transform:    translate(0%, 0%);
  -ms-transform:     translate(0%, 0%);
  -o-transform:      translate(0%, 0%);
  transform:         translate(0%, 0%);
}
.ea--slide--out--menu {
  font-weight: 100;
  margin: 25px;
}
.ea--close--icon--container {
  margin-top:35px;
  text-align: right;
}
.ea--menu--icon--close--inner {
  width:50px;
  height:50px;
  position: relative;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}
.ea--menu--icon--close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -25px;
}
.ea--menu--icon--close::before,
.ea--menu--icon--close::after {
  content:' ';
  position: absolute;
  top:0;
  left:0;
  background-color:#fff;
  height:2px;
  width:100%;
  margin-top: 25px;
}
.ea--menu--icon--close::before {
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}
.ea--menu--icon--close::after {
}
.ea--grid--container {

}
.ea--grid--item {
  margin:5px;
}
.ea--grid--item--image {
  width:100%;
}
.ea--scroll-vertical {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.ea--grid--small--group,
.ea--grid--medium--group,
.ea--grid--large--group,
.ea--grid--xlarge--group,
.ea--grid--xxlarge--group {
  vertical-align: top;
  display: none;
}
.ea--grid--small--group {
  width: 100%;
}
.ea--grid--medium--group {
  width: 50%;
}
.ea--grid--large--group {
  width: 33%;
}
.ea--grid--xlarge--group {
  width: 25%;
}
.ea--grid--xxlarge--group {
  width: 20%;
}
@media(min-width:0px) and (max-width: 500px) {
  .ea--grid--small--group {
    display: inline-block;
  }
}
@media(min-width:500px) and (max-width: 750px) {
  .ea--grid--medium--group {
    display: inline-block;
  }
}
@media(min-width:750px) and (max-width: 1000px) {
  .ea--grid--large--group {
    display: inline-block;
  }
}
@media(min-width:1000px) and (max-width: 1400px) {
  .ea--grid--xlarge--group {
    display: inline-block;
  }
}
@media(min-width:1400px) {
  .ea--grid--xxlarge--group {
    display: inline-block;
  }
}
.ea--grid--container {
  border: 5px solid transparent;
}
.ea--full--width {
  width:100%;
}
.ea--off--screen {
  position: absolute;
  top:-99999999999px;
  left:-99999999999px;
  width:1px;
  height:1px;
}
.ea--fill--calc--100 {
  width: -webkit-calc(100% - 100px);
  width: expression(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: -o-calc(100% - 100px);
  width: calc(100% - 100px);
}
.ea--white--background {
  background-color: #fff;
}
.ea--page {
  min-height: 100vh;
}
.ea--page--inner {
  padding: 25px 25px 100px 25px;
  margin: 50px auto 0;
}
.ea--page--max--width {
  max-width: 800px;
}
.ea--page--header {
  margin-bottom: 25px;
  font-size:32px;
}
.ea--page--content {
  margin-top:25px;
}
.ea--loader {
  height:100%;
  width: 100%;
  text-align: center;
  position: relative;
}
.ea--loading--vertical--align {
  -webkit-transform: translate(0%, -50%);
  -moz-transform:    translate(0%, -50%);
  -ms-transform:     translate(0%, -50%);
  -o-transform:      translate(0%, -50%);
  transform:         translate(0%, -50%);
  position: absolute;
  top:50%;
  left:0;
  width: 100%;
}
.ea--height--full {
  height: 100%;
}
.ea--loader--svg {
  animation: ea--loader--spin infinite 750ms linear;
  width: 25px;
}
.ea--page--link {
  display: block;
}
.ea--menu--button--link {
  display: block;
  font-size: 22px;
  padding: 15px 25px;
  background-color: rgba(255,255,255,0.1);
  position: relative;
  margin-bottom:1px;
}
.ea--menu--button--link:hover {
  background-color: rgba(255,255,255,0.2);
}
.ea--menu--button--link::after,
.ea--menu--button--link::before {
  content: ' ';
  background-color: #fff;
  height: 2px;
  width: 15px;
  display: block;
  position: absolute;
  right: 25px;
  top:50%;
}
.ea--menu--button--link::before {
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
  margin-top:-5px;
}
.ea--menu--button--link::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
  margin-top:5px;
}
.ea--website--data--container {
  margin-bottom:50px;
}
.ea--website--data { 
}
.ea--website--data--title {
  margin-bottom:25px;
  font-size:32px;
}
.ea--website--data--description {
  font-size:24px;
  white-space: pre-wrap;
}
.ea--social--icon--link {
  margin-top: 10px;
  display: block;
}
.ea--social--icon--link--image--container {
  width:25px;
  margin: 0 auto;
}
.ea--mobile--top--fix {
  /*margin-top:-5px;*/
}
.ea--page--type--header {
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  margin:10px;
  margin-bottom: 0px;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.ea--page--type--header:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.ea--image--tint {
  position: relative;
}
.ea--image--tint::after {
  content:' ';
  position: absolute;
  top:0;
  width:100%;
  left:0;
  height: -webkit-calc(100% - 3px);
  height: expression(100% - 3px);
  height: -moz-calc(100% - 3px);
  height: -o-calc(100% - 3px);
  height: calc(100% - 3px);
  opacity: 0;
  background-color:#000;
}
.ea--image--tint:hover::after {
  opacity: 0.25;
}
.ea--links--container {
  margin-top: 50px;
}
.ea--website--copyright--author {
  margin: 100px 0 50px;
  font-size:12px;
  text-align: center;
}












