@media(max-width:748px) {
  .ea--menu--container {
    display: none;
  }
  .ea--mobile--menu--container {
    display: block;
  }
  .ea--fill--calc--100 {
    width:100%;
  }
  .ea--mobile--top--fix {
    margin-top:0px;
    padding-top: 83px;
    height: -webkit-calc(100% - 83px);
    height: expression(100% - 83px);
    height: -moz-calc(100% - 83px);
    height: -o-calc(100% - 83px);
    height: calc(100% - 83px);
  }
}